@import url("../gruvbox-colors.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
    font-size: 14pt;
    color: @fg1; /* text */
    background-color: transparent;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: @bg1;
    transition:
        box-shadow 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

button:nth-child(1) {
    border-radius: 30px 0 0 0;
    border-left: 2px solid @fg1;
    border-top: 2px solid @fg1; 
}

button:nth-child(2) { 
    border-radius: 0 0 0 30px;
    border-left: 2px solid @fg1; 
    border-bottom: 2px solid @fg1;
}

button:nth-child(3) { 
    border-radius: 0 30px 0 0;
    border-right: 2px solid @fg1; 
    border-top: 2px solid @fg1;
}

button:nth-child(4) { 
    border-radius: 0 0 30px 0;
    border-right: 2px solid @fg1; 
    border-bottom: 2px solid @fg1;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus, #lock:hover {
	background-color: @aqua;
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:focus, #logout:hover {
	background-color: @orange;
    background-image: image(url("./icons/logout-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:focus, #shutdown:hover {
	background-color: @purple;
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:focus, #reboot:hover {
	background-color: @blue;
    background-image: image(url("./icons/restart-hover.png"));
}
