@import url("../gruvbox-colors.css");

* {
	font-size: 14px;
	border-width: 3px;
	border-color: @fg1;
	border-radius: 10px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	background: @bg1;
}

.notification-row {
	outline: none;
	margin: 20px;
	padding: 0;
}

.notification {
	background: @fg1;
	margin: 0;
	border-color: @fg1;
}

.notification-content {
	background: @bg;
	padding: 7px;
	margin: 0;
}

.close-button {
	background: @bg;
	color: @fg1;
	text-shadow: none;
	padding: 0;
	margin-top: 9px;
	margin-right: 5px;
}

.close-button:hover {
	box-shadow: none;
	background: @fg1;
	color: @bg1;
	transition: all .15s ease-in-out;
	border: none;
}

.notification-action {
	color: @bg1;
	background: @fg1;
}

.summary {
	padding-top: 7px;
	font-size: 13px;
	color: @fg1;
}

.time {
	font-size: 11px;
	color: @fg1;
	margin-right: 40px
}

.body {
	font-size: 12px;
	color: @fg1;
}

.control-center {
	background: @bg1;
	color: @fg1;
}

.control-center-list {
	background: transparent;
}

.control-center-list-placeholder {
	opacity: .5;
}

.floating-notifications {
	background: transparent;
}

.blank-window {
	background: transparent;
}

.widget-title {
	color: @fg1;
	padding: 10px 10px;
	margin: 10px 10px 5px 10px;
	font-size: 1.5rem;
}

.widget-title>button {
	font-size: 1rem;
	color: @fg1;
	padding: 10px;
	text-shadow: none;
	background: @bg1;
	box-shadow: none;
}

.widget-title>button:hover {
	background: @fg1;
	color: #282828;
}

.widget-label {
	margin: 10px 10px 10px 10px;
}

.widget-label>label {
	font-size: 1rem;
	color: @fg1;
}

.widget-mpris {
	color: @fg1;
	padding: 5px 5px 5px 5px;
	margin: 10px;
}

.widget-mpris>box>button {
}

.widget-mpris-player {
	padding: 5px 5px;
	margin: 10px;
}
